<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css"/>
<link rel="stylesheet" href="css/custom.css"/>
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
<script src="js/custom.js"></script>
</head>
<body>
  <div data-role="page" id="p-listview-thumbnail">
    <div data-role="content">
      <h3>プレゼンの人達</h3>
      <ul data-role="listview">
      <% @ppts.each do |ppt| %>
        <li><a href="/ppts/show/<%= ppt.ppt_id%>" data-ajax="false">
        <%= image_tag(ppt.ppt_id) %>
        <h3><%= ppt.ppt_name %> /  <%= ppt.user_name %>  </h3></p><span class="ui-li-count" id="count_<%= ppt.ppt_id %>"><%= ppt.point %></span>
        
        </a>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  
    <script type="text/javascript">
    $(document).ready(function(){
	  
	     // データを取得する
	     function getDetail(){
		     $.ajax({
	            url: "/ppts/show11",
	            cache : false,
	            type: "GET",
	            dataType: "json",
	            success: function(data) {
					data.each(function(d){
					
						$("#count_"d.ppt_id).text(d.point);
					
					})
	            },
	            error: function(data) {
	                
	            }
	        });
        }
        
        // 定期的にデータを最新化
        setInterval(function(){
        	getDetail();
    	},10000);
    	
    	
    }(jQuery));
    




  </script>
</body>
</html>